* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}

:root{
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --borda-cor: rgba(255, 255, 255, 0.5); /*stroke*/
  --bg-links: rgba(255, 255, 255, 0.05); /*surface*/
  --bg-links-hover: rgba(255, 255, 255, 0.05);
  --icones-color: rgba(255, 255, 255, 0.05);
  --brilho-imagem: url(./assets/moon-stars.svg);
  --cor-borda-imagem: 2px solid white;
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --borda-cor: rgba(0, 0, 0, 0.5);
  --bg-links: rgba(0, 0, 0, 0.05);
  --bg-links-hover: rgba(0, 0, 0, 0.2);
  --icones-color: rgba(0, 0, 0, 0.1);
  --brilho-imagem: url(./assets/sun.svg);
  --cor-borda-imagem: 2px solid black;
}

body{
  /*background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  /*background: color image repeat position/size */

  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body *{
  font-family: "Inter", sans-serif;
  color: var(--text-color)
}


#conteiner{
 
  width: 100%;
  max-width: 588px;
 
  margin: 56px auto;

  padding: 0 24px;
}

#perfil{
  text-align: center;
  padding: 24px;
}
#perfil img{
  width: 112px;
  border: var(--cor-borda-imagem);
  border-radius: 50%;

}

#perfil p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;

}

#brilho{
  width: 64px;
  position: relative;
  
  margin: 4px auto;
  
  /* margin: auto; */
}

#brilho button{
  width: 32px;
  height: 32px;
  background: white var(--brilho-imagem) no-repeat center;
  border: 0;
  border-radius: 50%;
  bottom:  0;

  position: absolute;
  
  top: 50%;
  transform: translateY(-50%);
  
  left: 0;

  animation: slide-out 0.4s;
}

.light #brilho button{

  animation: slide-in 0.4s forwards;

}

#brilho span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--bg-links);
  border: 1px solid var(--borda-cor);
  border-radius: 9999px;
    
}

ul{
  list-style: none;
  display: flex;

  flex-direction: column;
  gap: 16px;
  
  padding: 24px 0;
}

 ul li a{
  
  display: flex;

  justify-content: center; 
  align-items: center; 
  padding: 16px 24px;

  background: var(--bg-links);
  border: 1px solid var(--borda-cor);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover{
  background: var(--bg-links-hover);
  border: 2px solid var(--text-color);
  
}

#icones{
  display:flex;
  justify-content: center;
 
  
  padding: 24px 0;
  font-size: 24px;
  
 
}

#icones a{
 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  
  border-radius: 50%;

}


#icones a:hover{
  background: var(--icones-color);
  
}

footer{
  text-align: center;
  padding: 16px;
  font-size: 14px;
  

}

@media(min-width: 700px){

  :root{
    --bg-url: url(./assets/bg-desktop.png);
  }

  .light{
    --bg-url: url(./assets/bg-desktop-light.png);
  }
}

@keyframes slide-in {
  from{
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out{
  from {
    left:50%;
  }
  to {
    left:0;
  }
}